.contact-section {
    padding: 100px 10%;
    min-height: 650px;
}

.contact-container {
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info p {
    color: #777;
    line-height: 2;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.contact-item i {
    font-size: 30px;
    color: #4070f4;
}

.contact-item span {
    color: #888;
    font-size: 13px;
}

.contact-item p {
    direction: ltr;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;

    border: none;
    outline: none;

    background: #f5f5f5;

    border-bottom: 2px solid #ddd;

    font-family: inherit;
    font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-bottom-color: #4070f4;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    width: 160px;
    padding: 14px;

    border: none;

    background: #4070f4;
    color: white;

    font-family: inherit;

    cursor: pointer;
}

.contact-form button:hover {
    background: #305acb;
}


@media screen and (max-width: 768px) {

    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-section {
        padding: 80px 7%;
    }
}